<div>

<p>
 <br><br>
Desta feita, diante de tudo quanto se asseverou, torna-se imperioso concluir pela improcedência do presente auto de infração, ou antes, pelo necessário arquivamento desse.
</p>
</div>