<h2> Olá {{ name }}, </h2>
<p>
 Parece que voçê solicitou uma recuperação da sua senha,caso queira prosseguir click no link abaixo:
</p>
<p> <a rel="stylesheet" href="{{forgotPasswordUrl}}"> Recupera senha </a></p>
<p>Caso não tenha solicitado,favor desconsiderar este email</p>

<p>
    <strong>
    Equipe Descomplica
    </strong>
</p>