<h2> Olá {{ name }}, </h2>
<p>
 Parece que voçê solicitou uma recuperação da sua senha,caso queira prosseguir click no link abaixo:
</p>
<p><link rel="stylesheet" href="{{forgotPasswordUrl}}"/>Recupera senha</p>
<p>Caso não tenha solicitado,favor descnsiderar este email</p>

<p>
    <strong>
    Equipe Descomplicar
    </strong>
</p>