<h2>  {{ title }}, </h2>
<p>
{{ message }}
</p>

<h3>Informações do usuario </h3>
<p>
 Nome:{{name}}
 <br>
</P>
<P>
 Email:{{email}}    
</P>

    <div style="display:flex;aling-items:center;align-items:center">
   
        <img src="https://storage.cloud.google.com/rpmimagens/logo.png" style="width:50px;margin-right:10px"/>
        
        <div>
       <strong>
       Sistema Recorre Pra Mim
          </strong>
        </div>
          
       </div>