<!DOCTYPE html>
<html>
<head>
  <style>

          p { 
            font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
            font-size: 14px; 
             font-style: normal;
             font-variant: normal; 
             font-weight: 400;
              line-height: 20px; }

    span.article {
      display: table;
      margin-left: 100px;
    }

  </style>
</head>
<body>
    @!section('content')
</body>
</html>