<!DOCTYPE html>
<html>
<head>
  <style>
    p {
      font-size: 14px;
      font-family: "Times New Roman", Times, serif;
    }

    span.article {
      display: table;
      margin-left: 100px;
    }

  </style>
</head>
<body>
    @!section('content')
</body>
</html>