<div>

    <p>
        Os fatos descritos no auto de infração não se amoldam à hipótese legal. Isso porque a autuada não estava “utilizando-se de fones nos ouvidos conectados a aparelhagem sonora ou de telefone celular”, mas sim utilizando a tecnologia Bluetooth, que, como se sabe, lhe permite, manter conversas sem qualquer contato com o aparelho celular, fones de ouvido ou qualquer outra manobra vedada por lei.
        <br>
    </p>
</div>