
@layout('appeals/base')

@section('content')
  @include('appeals/base/preambulo')
  @include('appeals/base/vehicle')
  @include('appeals/base/contestations')
  @include('appeals/base/end')
  @include('appeals/base/docments')
 
@endsection